
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'js/index.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>zing</title>
</head>
<body>
    <body id="body">
        <div id="header">
            <div id="title">
                <h2 id="brand">zing</h2>
            </div>
            <div id="header-components">
                <h3><u>How It Works</u></h3>
                <h3><u>Try For Free</u></h3>
            </div>
        </div>
        <div id="main-section">
            <h1 id="grabber">
                web3 made easy
            </h1>
            <h3 id="description-text">
                Crypto tracking has fallen way behind the 8-ball. We're changing that. <br>
                Join the revolution and track with zing.
            </h3>
            <button id="first-button-submit">start now</button>
        </div>
        <section>
            <div class="custom-shape-divider-top-1660633059">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>
        </section>
        <section>
            <div id="grid-for">
                <div id="easy-tracking">
                    <div>{% include './icons/up-trend.svg' %}</div>
                    <h4>Easy Tracking</h4>
                    <p>
                        Let us handle all the heavy lifting, and enjoy watching your portfolio grow
                    </p>
                </div>
                <div id="stay-anonymous">
                    <div> {% include './icons/ninja.svg' %}</div>
                
                    <h4>Stay Anonymous</h4>
                    <p>
                        All we need from you is a wallet address.    Remain anonymous and in control of your finances
                    </p>
                </div>
                <div id="started-easily">
                    <div>{% include './icons/clock.svg' %}</div>
                    <h4>Get Set Up Quickly</h4>
                    <p>
                        It takes only two clicks to set up your portfolio tracker and you are on you way
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="custom-shape-divider-bottom-1660634323">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>
        </section>
        <footer>
            <div id="footer-title">
                <h2 id="footer-h2-title">zing</h2>
            </div>
            
        </footer>
    </body>

</body>
</html>